body {
	background-color: #e9ebee;
}

.col-div {
    margin-top: 10px;
}

.image {
    width: 100%;
}

.company-name {
    margin-left: 10px;
    text-align: left;
}

nav {
    text-transform: uppercase;
    white-space: nowrap;
}

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }

#mapa {
    height: 415px; 
    width: 100%;
}

.content-div {
	padding: 20px 20px 20px 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.menu-stuff {
    margin-top: 20px;
    margin-bottom: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 576px) {

    #mapa {
        height: 300px; 
    }
    .menu-stuff {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .company-name {
        margin-left: auto!important;
        margin-right: auto;
        width:100%;
    }

    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .navbar-toggler {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

}

@media (max-width: 992px) {

    .navbar-collapse {
        text-align: center;
    }

}